<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> Error 404</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a herf="/"><h1>GameBridge-Page not found </h1></a>
            <p> </p>
        </div>
        <u1>
            <li><a href="/">Homepage</a></li>
            <li><a href="/publish">Publish</a></li>
            <li><a href="/share">Share</a></li>
            <li><a href="/collaborate">Collaborate</a></li>
        </u1>
    </nav>
   
    <div class="not-found content">
        OOPS, page not found

</div>    
</body>
</html>