<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> GameBridge</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a herf="/"><h1>GameBridge-Collaborate Page</h1></a>
            <p>It embodies teamwork, synergy, and shared goals, fostering innovation and mutual respect. This icon visually represents cooperation, bridging gaps, and leveraging strengths to achieve greater outcomes together, transcending individual contributions for a harmonious collective effort.</p>
        </div>
        <u1>
            <li><a href="/">Homepage</a></li>
            <li><a href="/publish">Publish</a></li>
            <li><a href="/share">Share</a></li>
            <li><a href="/collaborate">Collaborate</a></li>
        </u1>
    </nav>
    
</body>
</html>