<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> GameBridge</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a herf="/"><h1>GameBridge-Publish Page</h1></a>
            <p>It signifies the dissemination of new knowledge, advancing the field through peer-reviewed insights and innovations. This icon symbolizes academic rigor, expanding the collective understanding of gaming through structured research contributions.</p>
        </div>
        <u1>
            <li><a href="/">Homepage</a></li>
            <li><a href="/publish">Publish</a></li>
            <li><a href="/share">Share</a></li>
            <li><a href="/collaborate">Collaborate</a></li>
        </u1>
    </nav>
   
    <div class="create-blog content">
        <form>
            <label for="snipet">Title:</label>
            <input type="text" id="snipet" required>
            <label for="snippet">About:</label>
            <input type="text" id="snippet" required>
            <label for="body">Research work:</label>
            <textarea id="body" required></textarea>
            <button>PUBLISH</button>
        </form>
</div>    
</body>
</html>