<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> GameBridge</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a herf="/"><h1>GameBridge-Share Page</h1></a>
            <p>It enables scholars to distribute their findings efficiently across the portal, fostering collaboration and advancing the field. This icon embodies transparency, facilitating the exchange of ideas and insights crucial for academic progress and innovation in gaming research.</p>
        </div>
        <u1>
            <li><a href="/">Homepage</a></li>
            <li><a href="/publish">Publish</a></li>
            <li><a href="/share">Share</a></li>
            <li><a href="/collaborate">Collaborate</a></li>
        </u1>
    </nav>
   
    <div class="blog content">
        <h2>All</h2>
        <div class="create-blog content">
            <form>
                <label for="snipet">Research Title:</label>
                <input type="text" id="snipet" required>
                <label for="snippett">Share To:</label>
                <input type="text" id="snippett" required>
                <button>SHARE</button>
            </form>
    </div>

</div>    
</body>
</html>